h2 {
    text-align: center;
}

#main {
    background-color: yellow;
}

#lower-box {
    background-color: blue;
}

#talkAboutUnits{
    text-align: center;
}

#first {
    background-color: aqua;
}

/* by default line */
#pixelLine {
    text-align: center;
    font-size: 30px;
}

#pixel {
    display: flex;
    justify-content: space-between;
}

#points {
    font-size: 30pt;
}

#inches {
    font-size: 1in;
}


#centimeter {
    font-size: 1cm;
}

#milimeter {
    font-size: 20mm;
}

#talk-about-units {
    font-size: 5rem;
    /* text-align: center; */
}

input {
    margin: 0.4rem;
    /* hover event */
    cursor:pointer; 
  }

input[type=range]::-webkit-slider-thumb:active{
    /* click event */
    cursor: grabbing;
}
  